*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.login_container{
  display: flex;
  width: 100vw;
  height:  100vh;
  justify-content: space-around;
  align-items: center;
  background: #f0f2f5;
}
.header h1{
  color: #4267b2;
}
.form_container{
  text-align: center;
  background: white;
  padding: 20px;
  border-radius: 10px;
}

.input_field input{
  font-size: 17px;
  padding: 14px 16px;
  width: 330px;
  border-radius: 6px;
  margin: 10px;
  border: 1px solid #dddfe2;
  background: #FFFFFF;
 
}
 input:focus{
 outline: 1px solid blue !important;
}
.btn{
  background:#4267b2 !important ;
  color: white;
  font-size: 17px;
  font-weight: bold;
}
.forgotten{
  margin-bottom: 20px;
}
.forgotten a{
  text-decoration: none;
}
.btn2{
  background-color: #42b72a;
  border: none;
  border-radius: 6px;
  color: #FFFFFF;
  padding: 10px 20px;
  margin: 15px 1px;
  font-size: 17px;
  font-weight: bold;
}
.main_container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.drop_down{
  height: 200px;
  overflow-x: hidden;
  overflow-y: scroll;

}
.imgcontainer img{
  width: 25vw;
  height: 50vh;
}